.main{
    background-color: white;
    padding: 30px;
    margin: 50px auto;
    max-width: 540px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    border-radius: 5px;
}

.main h1{
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}
